/* MAIN CONTENT CONTAINERS */
/* Everything below the header gets wrapped in one of these */
/* There is only one on every page and they are invisible */

.container {
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
}

.container-flex {
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0;
        margin: 0;
    }
    
    .container-flex {
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 10px;
    }
}

/* Content Widths */
/* These classes are used to set the width */

.content-narrow {
    max-width: 80%;
}

.content-wide {
    max-width: 95%;
}

@media screen and (max-width: 600px) {
    .content-narrow {
        max-width: 100%;
    }
    .content-wide {
        max-width: 100%;
    } 
}

/* Z-Index */

.on-top {
    z-index: 2;
}

/* Alignment */
/* Classes to align content within main containers */

.content-centered {
    justify-content: center;
}

/* CONTENT */
/* Building blocks of page content */

.box {
    /* Wrapper for any individual content on the page */
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

@media screen and (max-width: 600px) {
    .box {
        margin: 0;
        padding: 8px;
    }    
    
}

/* "Post" Content */
/* Containers to display the_title() and the_content() */

.post-wrapper {
    /* Wrapper for post content */
    flex: 2;
    flex-basis: 400px;
    align-self: flex-start;
}

@media screen and (max-width: 600px) {
    .post-wrapper {
        flex-basis: auto;
    }    
}

h2.title-box {
    /* Displays post title */
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: var(--headline-bg);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-box {
    /* Displays post content */
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: var(--image-overlay-bg);

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
}

.flower-icon img {
    /* Width of flower icons placed on either side of the post content */
    width: 50px;
}

.post-content {
    /* Text inside the post content box */
    font-size: clamp(1.25rem, calc(0.5rem + 1vw), 2rem);
    padding: 10px 10px;
    text-align: left;
}

@media screen and (max-width: 600px) {
    
    .post-wrapper {
        flex-basis: 300px;
    }

    .post-box {
        padding: 5px;
    }

    .post-content {
        padding: 5px;
    }

    .flower-icon img {
        display: none;
    }    
}

