.featured-image-container {
    padding: 10px;
    flex: 1 30%;
    border-radius: 10px;
}

/* .content-after-menu {
    margin-left: 200px;

    max-width: 95%;
    padding: 0 16px;
    position: relative;
} */



.side-menu-background {
    position: fixed;
    top: clamp(300px, 40%, 600px);;
    left: -10px;
    
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .side-menu-background {
        position: static;
        top: auto;
        left: auto;
        margin: 0;

        width: auto;

        align-items: center;
    }
}

.page-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-links h2 {
    padding: 8px;
}

.min-list li {
    font-size: clamp(1.5rem, calc(0.5rem + 1.75vw), 3rem);
}

.current_page_item {
    list-style: disc;
    font-weight: bold;
}

.container-flex.room-for-menu {
    margin: 20px 20px 20px clamp(175px, 22vw, 400px);
}

@media screen and (max-width: 600px) {
    .container-flex.room-for-menu {
        margin: 20px;
    }
    
}